In [ ]:
# â‘  ì¹´í…Œê³ ë¦¬ë³„ ì†Œë¹„ ê·œëª¨ & ë¹ˆë„ (ê¸°ë³¸ ì¤‘ì˜ ê¸°ë³¸)
# ğŸ“Š ì‹œê°í™”

# ì¹´í…Œê³ ë¦¬ë³„ ì´ ì†Œë¹„ê¸ˆì•¡

# ì¹´í…Œê³ ë¦¬ë³„ ì´ ê²°ì œ ê±´ìˆ˜

# ì™œ ì¤‘ìš”?
# â†’ ì¹´ë“œ ì†Œë¹„ ë°ì´í„°ì˜ â€˜ì‹œì¥ ê·œëª¨â€™ë¥¼ ë³´ì—¬ì¤Œ
# â†’ ì¶”ì²œì˜ ê¸°ì¤€ì

In [ ]:
# ì‹œê°„ ë‹¨ì¶•ì„ ìœ„í•´ colabì—ì„œ ì•„ë˜ì˜ ì½”ë“œë¡œ ì§„í–‰í•¨

import pandas as pd
import glob

DATA_PATH = "/content/drive/MyDrive/data/*.csv"
file_list = sorted(glob.glob(DATA_PATH))

overall_sum = {}

for file in file_list:
    print(f"Processing {file}")

    for chunk in pd.read_csv(
        file,
        usecols=["card_tpbuz_nm_2", "amt", "cnt"],
        chunksize=200_000
    ):
        grouped = chunk.groupby("card_tpbuz_nm_2")[["amt", "cnt"]].sum()

        for cat, row in grouped.iterrows():
            if cat not in overall_sum:
                overall_sum[cat] = row
            else:
                overall_sum[cat] += row
                
df_overall = (
    pd.DataFrame(overall_sum)
    .T
    .sort_values("amt", ascending=False)
)

df_overall

In [ ]:
# ë§Œë“¤ì–´ì§„ df_overallì„ csvë¡œ ì €ì¥í•˜ê¸°
import os

OUTPUT_DIR = "/content/drive/MyDrive/data/output"
os.makedirs(OUTPUT_DIR, exist_ok=True)

df_overall_out = df_overall.reset_index()

df_overall_out.columns = ["category", "total_amt", "total_cnt"]

df_overall_out.to_csv(
    f"{OUTPUT_DIR}/overall_category_summary_202201_202511.csv",
    index=False,
    encoding="utf-8-sig"
)

======================= ìœ„ìª½ì´ colabì—ì„œ ì§„í–‰í•œ ë°©ë²•, ì•„ë˜ëŠ” ë¡œì»¬ì—ì„œ ì§„í–‰í•˜ê¸° ìœ„í•´ ì½ì–´ì˜¤ëŠ” ë°©ë²• ë° ì§„í–‰ =======================

In [ ]:
import pandas as pd

OUTPUT_DIR = "../output"

df_overall = pd.read_csv(
    f"{OUTPUT_DIR}/overall_category_summary_202201_202511.csv"
)

df_overall

      category       total_amt  total_cnt
0           í•œì‹  14231837129588  444169343
1         ê³ ê¸°ìš”ë¦¬   4832101787774   83635120
2        ì»¤í”¼/ìŒë£Œ   4450253240273  497049761
3       ì¼ì‹/ìˆ˜ì‚°ë¬¼   3983001301734   79728690
4       ë‹­/ì˜¤ë¦¬ìš”ë¦¬   2583407720693   81527240
5   ì œê³¼/ì œë¹µ/ë–¡/ì¼€ìµ   2499151364491  190398054
6           ë¶„ì‹   2268182376441  159427911
7         ê°„ì´ì£¼ì    2158785025691   47313706
8        íŒ¨ìŠ¤íŠ¸í‘¸ë“œ   1822363675344  152450506
9      ë³„ì‹/í“¨ì „ìš”ë¦¬   1699396050437   68397969
10          ì¤‘ì‹   1483746354587   61908764
11          ì–‘ì‹   1053114352164   30085861

======================= ì†ë„ê°€ ë¹„ìŠ·í•  ê±° ê°™ì•„ì„œ ë¡œì»¬ë¡œ ì›”ë³„ ì†Œë¹„, ê²°ì œ íšŸìˆ˜ ë“± í™•ì¸ =======================

In [4]:
import pandas as pd
import glob
import os

DATA_PATH = "../food/*.csv"
file_list = sorted(glob.glob(DATA_PATH))

file_list[:5], len(file_list)  # 202201 ~ 202511 í™•ì¸

(['../food\\202201.csv',
  '../food\\202202.csv',
  '../food\\202203.csv',
  '../food\\202204.csv',
  '../food\\202205.csv'],
 47)

In [10]:
monthly_data = []

for file in file_list:
    year_month = os.path.basename(file).replace(".csv", "")

    # ğŸ”‘ íŒŒì¼ ë‹¨ìœ„ ëˆ„ì ìš© Series
    file_sum = None

    for chunk in pd.read_csv(
        file,
        usecols=["card_tpbuz_nm_2", "amt"],
        chunksize=200_000
    ):
        chunk_sum = chunk.groupby("card_tpbuz_nm_2")["amt"].sum()

        if file_sum is None:
            file_sum = chunk_sum
        else:
            # ğŸ”¥ í•µì‹¬: ì¸ë±ìŠ¤ ê¸°ì¤€ ìë™ ì •ë ¬ + ëˆ„ì 
            file_sum = file_sum.add(chunk_sum, fill_value=0)

    # íŒŒì¼ í•˜ë‚˜ ëë‚˜ë©´ DataFrameìœ¼ë¡œ ë³€í™˜
    if file_sum is not None:
        file_df = file_sum.reset_index()
        file_df["year_month"] = year_month
        monthly_data.append(file_df)

# âœ… ìµœì¢… ë³‘í•© (ë‹¨ 1ë²ˆ)
df_monthly = pd.concat(monthly_data, ignore_index=True)
df_monthly.columns = ["category", "amt", "year_month"]

In [11]:
df_monthly

       category           amt year_month
0          ê°„ì´ì£¼ì    23371526772     202201
1          ê³ ê¸°ìš”ë¦¬   77821866715     202201
2        ë‹­/ì˜¤ë¦¬ìš”ë¦¬   47026223576     202201
3       ë³„ì‹/í“¨ì „ìš”ë¦¬   20861113454     202201
4            ë¶„ì‹   35337809312     202201
..          ...           ...        ...
559  ì œê³¼/ì œë¹µ/ë–¡/ì¼€ìµ   54373547439     202511
560          ì¤‘ì‹   31017255053     202511
561       ì»¤í”¼/ìŒë£Œ   92025821643     202511
562       íŒ¨ìŠ¤íŠ¸í‘¸ë“œ   40169578667     202511
563          í•œì‹  329196479068     202511

[564 rows x 3 columns]

In [15]:
OUTPUT_DIR = "../output"
if not os.path.exists(OUTPUT_DIR):
    os.makedirs(OUTPUT_DIR)

df_monthly.to_csv(
    f"{OUTPUT_DIR}/monthly_category_amt_202201_202511.csv",
    index=False,
    encoding="utf-8-sig"
)

In [16]:
import pandas as pd

OUTPUT_DIR = "../output"

df_monthly = pd.read_csv(
    f"{OUTPUT_DIR}/monthly_category_amt_202201_202511.csv"
)

df_monthly

       category           amt  year_month
0          ê°„ì´ì£¼ì    23371526772      202201
1          ê³ ê¸°ìš”ë¦¬   77821866715      202201
2        ë‹­/ì˜¤ë¦¬ìš”ë¦¬   47026223576      202201
3       ë³„ì‹/í“¨ì „ìš”ë¦¬   20861113454      202201
4            ë¶„ì‹   35337809312      202201
..          ...           ...         ...
559  ì œê³¼/ì œë¹µ/ë–¡/ì¼€ìµ   54373547439      202511
560          ì¤‘ì‹   31017255053      202511
561       ì»¤í”¼/ìŒë£Œ   92025821643      202511
562       íŒ¨ìŠ¤íŠ¸í‘¸ë“œ   40169578667      202511
563          í•œì‹  329196479068      202511

[564 rows x 3 columns]